body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.loginBox{
    color:rgb(137, 197, 249);
    position: absolute;
    left: 50%;
}

footer{
    color: white;
    background-color: #3c3c3c;
    text-align: center;
}

hr{
    width:40%;
    color: white;
}

.loginButton{
    width: 300px;
}

input[type=submit]{

}