body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.title{
    background-color: #62df8e;
    color: white;
    height: 100px;
    display: flex;
}
.loginBox{
    color:rgb(193, 226, 255);
    background-color:rgb(241, 241, 241);
    width:30%;
    margin-left: 35%;
    border-radius: 10px;
    padding:10px;
}


footer{
    color: white;
    background-color: #3c3c3c;
    text-align: center;
}

hr{
    width:40%;
    color: white;
}
