.title{
    background-color: #62df8e;
    color: white;
    height: 100px;
    display: flex;
}

main{
    background-color: #f3f3f3;
    width: 80%;
    margin-left: 10%;
    box-shadow:10px 5px 5px #e1e1e1;
}

h2{
    font-weight:normal
}

h1{
    justify-content: center;
}

select {
    color: #000000;
  }
  
  select:invalid {
    color: #999999;
  }

input[type=submit]{
    width: 70%;
    height: 50px;
    border-radius: 10px;
    background-color: #62df8e;
    margin-left: 15%;
    margin-bottom: 2%;
    font-weight: bold;
    color: white;
    font-size: x-large;
    border: 0px;

}

footer{
    color: white;
    background-color: #3c3c3c;
    text-align: center;
}

hr{
    width:40%;
    color: white;
}

